
.hydro_container{
margin-bottom: 50px;
 
}
  
  .hydro_heading {
    font-weight: bold;
    text-align: center;
    opacity: 1;
    margin-top:70px;
    text-align: center;
    /* margin-bottom: 30px; */
    animation: fadeIn 5s ease-in-out;

  }
  
  .image_col {
    display: flex;
    justify-content:center;
    align-items: center;
    opacity: 1;
    transform: scale(0.9);
    padding-bottom: 30px;


  }
  
  .hydro_image {
    width: 100%;
     /* height:300px  !important; */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: fadeIn 5s ease-in;
 


  }
  
  .hydro_image:hover {
    transform: scale(1.05);
    
  }
  
  .hydro_paragraph{
    text-align: left;
  }
@media (max-width:426px) {
  .hydro_image{
    font-size:x-large !important;
    height:100px;
    width:auto;
  }
  .hydro_paragraph{
    font-size: small;
  }
  .hydro_heading{
    font-size: medium;
  }
}
@media (min-width:768px) {
  .hydro_image{
    font-size: small;
  }
}
  
 
  

  

